* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background {
    min-height: 100vh;

    background-image: url(./bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.title {
    color: whitesmoke;
    font-size: 42px;
    font-weight: 1000;
}

.msg {
    text-align: center;
    color: whitesmoke;
}
.msg h3 {
    margin-bottom: 10px;
    font-size: 32px;
}
.msg h5 {
    font-size: 20px;
    font-weight: 300;
    color: #c72b3c;
}

span {
    color: #c72b3c;
}

button {
    background: none;
    border: none;
}

img {
    height: 120px;
}

.label {
    color: aliceblue;
    font-size: 20px;
}

.rps {
    display: flex;
    justify-content: center;
    gap: 150px;
    /* border: 1px solid white; */
}

div.rock, div.paper, div.scissors {
    text-align: center;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.result {
   /* border: 1px solid white; */
   color: white;
   text-align: center;
}